# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Dataset Files
# =========================
data/
archive.zip
*.zip
*.rar
*.7z

# =========================
# Preprocessed Images
# =========================
preprocessing/train/
preprocessing/validation/
preprocessing/test/

# =========================
# Model Files
# =========================
models/*.keras
models/*.h5
models/*.pth
models/*.pt
models/*.ckpt

# =========================
# Large Embedding Files
# =========================
week3_results/train_embeddings.csv
week3_results/validation_embeddings.csv
week3_results/test_embeddings.csv

results/week3_results/train_embeddings.csv
results/week3_results/validation_embeddings.csv
results/week3_results/test_embeddings.csv

# =========================
# Numpy / Pickle Files
# =========================
*.npy
*.npz
*.pkl

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db