# =========================

# Python

# =========================

**pycache**/
*.pyc
*.pyo
*.pyd

# =========================

# Virtual Environment

# =========================

venv/
env/
.venv/

# =========================

# Jupyter

# =========================

.ipynb_checkpoints/

# =========================

# Dataset Files

# =========================

data/
archive.zip
*.zip
*.rar
*.7z

# =========================

# Preprocessed Images

# =========================

preprocessing/train/
preprocessing/validation/
preprocessing/test/

# =========================

# Model Files

# =========================

models/*.keras
models/*.h5
models/*.pth
models/*.pt
models/*.ckpt

# =========================


# =========================

# Numpy / Pickle Files

# =========================

*.npy
*.npz
*.pkl

# =========================

# Logs

# =========================

*.log

# =========================

# VS Code

# =========================

.vscode/

# =========================

# OS Files

# =========================

.DS_Store
Thumbs.db
